h1 {
	font: 18px bold Calibri Light, sans-serif;
}

body {
	font: 12px Calibri, sans-serif;
	margin-left: 10px;
}

#format {
	padding-left: 20px;
	font-style: italic;
	border-style: solid;
	margin-top: 10px;
	padding-bottom: 10px;
}